body {
  background-color: #fff;
  color: #666;
  font: 14px 'Open Sans', sans-serif;
  font-weight: 400;
}

.header {
  text-align: center;
}

h1 {
  color: #777;
  font: 36px 'Oswald', sans-serif;
  text-transform: uppercase;
}

.emphasis {
  color: #999;
}

.sub {
  margin: 5px;
  font-size: 12px;
}

.wrapper {
  position: relative;
  height: 40px;
}

.label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.label, .selected {
  font-weight: 700;
}

.label .thumbnail {
  display: block;
  float: none;
  margin: 0 auto;
}

#next {
  left: 100%;
}

.nopref {
  display: block;
  width: 12px;
  height: 9px;
  margin: 0 auto 10px;
  border-bottom: 1px solid #777;
}

#themes {
  width: 265px;
  height: 350px;
  margin: 15px auto 0;
  padding-bottom: 10px;
  overflow: auto;
}

#themes li {
  width: 230px;
  padding: 5px 10px;
  cursor: default;
  list-style: none;
  transition: all 0.33s linear;
}

#themes li:hover {
  background-color: #f3f3f3;
  color: #444;
}

#themes .selected:hover {
  background-color: #fff;
  color: #666;
}

.thumbnail {
  width: 20px;
  height: 20px;
  float: left;
  padding: 0px 8px;
}
